/* the definition of the common style */

@use 'variables' as *;

@font-face {
  font-family: 'rounded-l-mplus-2p';
  src: url('/assets/fonts/rounded-l-mplus-2p-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rounded-l-mplus-2p';
  src: url('/assets/fonts/rounded-l-mplus-2p-heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// 全体の設定
body {
  font-family: 'rounded-l-mplus-2p';
}
