<footer class="site-footer">
  <div class="footer-logo">
    <img src="/img/2025/common/footer-logo.png" alt="DojoCon Japan 2025 Inspire Next." />
  </div>
  <div class="footer-social">
    <a href="https://x.com/{{ site.x }}" target="_blank" rel="noopener" class="social-x" aria-label="X">
      <i class="fa-brands fa-x-twitter" style="color:#000000;"></i>
    </a>
    <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank" rel="noopener" class="social-facebook" aria-label="Facebook">
      <i class="fa-brands fa-facebook" style="color:#0866ff;"></i>
    </a>
    <a href="https://www.youtube.com/channel/{{ site.youtube }}" target="_blank" rel="noopener" class="social-youtube" aria-label="YouTube">
      <i class="fa-brands fa-youtube" style="color:#ff0033;"></i>
    </a>
  </div>
  <nav class="footer-links">
    <a href="/">ホーム</a>
    <a href="/code-of-conduct/">行動規範</a>
    <a href="/privacy">プライバシーポリシー</a>
    <a href="{{site.contact}}" target="_blank">お問い合わせ</a>
  </nav>
  <div class="footer-copyright">
    &copy; DojoCon Japan 2025 実行委員会
  </div>
</footer>
