<h1 class="hidden min-[1319px]:block mx-auto max-w-lg pt-5 px-8">
  <a href="/">
    <img src="/img/common/header-logo.webp" alt="DojoCon Japan 2025 Inspire Next." />
  </a>
</h1>

<div class="fixed min-[1319px]:hidden left-0 top-7 z-10 flex w-screen min-h-18 justify-center">
  <div
    class="flex flex-col h-full w-[calc(100%-60px)] items-stretch rounded-[10px] bg-[#f5f5f5] py-3 pl-4 pr-3 shadow-[7px_7px_10px_rgba(125,125,125,0.15)] inset-shadow-[0px_-2px_10px_rgba(125,125,125,0.25)]">
    <div class="flex items-center justify-between gap-2">
      <a href="/" class="flex h-full items-center">
        <img src="/img/common/header-logo.webp" class="w-full max-w-[250px] max-h-full"
          alt="DojoCon Japan 2025 Inspire Next." />
      </a>
      <div class="flex items-cetner gap-x-2 shrink-0">
        <a href="/registration/" class="px-3 py-2 rounded-sm text-center bg-[#cc8f2e] text-[#f5f5f5] justify-center">
          参加申込
        </a>
        <button id="menu-btn" type="button" aria-label="メニューを開く"
          class="flex p-2 size-10 shrink-0 flex-col items-center justify-center rounded border border-gray-300 bg-white cursor-pointer">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </div>
    <nav id="menu-nav" class="hidden my-2 flex-col items-stretch transition-all duration-300">
      <ul
        class="flex flex-col min-h-20 items-stretch gap-2 *:px-6 *:text-center *:text-[20px] *:leading-[1.75] *:text-[#cc8f2e] [&_a]:block">
        <li><a href="/#outline">開催概要</a></li>
        <li><a href="/sessions/">セッション</a></li>
        <li><a href="/events/">イベント</a></li>
        <li><a href="/contests/">コンテスト</a></li>
        <li><a href="/time-table/">タイムテーブル</a></li>
        <li><a href="https://suzuri.jp/DojoConJapan" target="_blank">グッズ</a></li>
        <li><a href="/sponsorship/list/">スポンサー紹介</a></li>
        <li><a href="{{ site.contact }}" target="_blank">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuBtn = document.getElementById('menu-btn');
    const menuNav = document.getElementById('menu-nav');
    if (!menuBtn || !menuNav) return;

    menuBtn.addEventListener('click', function () {
      menuNav.classList.toggle('flex');
      menuNav.classList.toggle('hidden');
    });
    menuNav.querySelectorAll('a').forEach(function (link) {
      link.addEventListener('click', function () {
        menuNav.classList.remove('flex');
        menuNav.classList.add('hidden');
      });
    });
  });
</script>
