<div class="xl:block hidden sticky mx-4 top-4 z-10">
  <nav
    class="rounded-[40px] w-fit mx-auto bg-[#f5f5f5] mt-8 inset-shadow-[0px_-2px_10px_rgba(125,125,125,0.25)] shadow-[7px_7px_10px_rgba(125,125,125,0.15)] flex items-stretch">
    <ul class="flex flex-wrap min-h-20 items-center p-5 pr-0 justify-center divide-x-2 gap-y-2 *:text-[#cc8f2e] *:px-5">
      <li><a href="/#outline">開催概要</a></li>
      <li><a href="/sessions/">セッション</a></li>
      <li><a href="/events/">イベント</a></li>
      <li><a href="/contests/">コンテスト</a></li>
      <li><a href="/time-table/">タイムテーブル</a></li>
      <li><a href="https://suzuri.jp/DojoConJapan" target="_blank">グッズ</a></li>
      <li><a href="/sponsorship/list/">スポンサー紹介</a></li>
      <li><a href="{{ site.contact }}" target="_blank">お問い合わせ</a></li>
    </ul>
    <a href="/registration/" class="text-xl px-8 py-4 rounded-r-[40px] bg-[#cc8f2e] text-[#f5f5f5] inset-shadow-[0px_-2px_10px_rgba(125,125,125,0.25)] flex items-center">
      参加申込
    </a>
  </nav>
</div>
