<div class="relative mt-20 xl:mt-48">
  <div class="max-w-7xl mx-6 xl:mx-auto">
    <div class="max-w-3xl mx-auto xl:absolute xl:bottom-2/5">
      <!-- 見出しセクション -->
      <!-- デスクトップの場合 -->
      <h2 class="hidden xl:block mx-8">
        <img src="/img/top/about-coderdojo/about-coderdojo-heading.webp" alt="About CoderDojo" />
      </h2>

      <!-- モバイルの場合 -->
      <h2 class="relative xl:hidden max-w-lg">
        <img src="/img/top/about-coderdojo/about-coderdojo-heading.webp" alt="About CoderDojo" />
        <img class="h-full w-auto absolute right-0 top-0 w-3xs" src="/img/top/about-coderdojo/coderdojo-logo-transparent.webp" alt="CoderDojo ロゴ画像" />
      </h2>

      <!-- 説明文セクション -->
      <div class="mt-9 xl:ml-18 xl:max-w-[620px] leading-7">
        <p class="mb-4">
          CoderDojo は子ども達にプログラミングを学ぶ場を提供する、ボランティア主導の国際的な非営利活動です。(*1)
        </p>
        <p>
          CoderDojo は2011年にアイルランドから始まり、日本国内では全国に<strong>200</strong>以上の道場で毎年1,200回以上 (*2) 開催されています。CoderDojo に参加する子ども達にとっては、エンジニアやデザイナー、各地域の保護者や学生、研究者や経営者など（メンター）と出会える場にもなっています。<br />
	  <br>
	  <small>
	    *1 地図で見る: <a class="underline text-[#cc8f2e]" href="https://map.coderdojo.jp/world" target="_blank">https://map.coderdojo.jp/world</a><br>
            *2 統計を見る: <a class="underline text-[#cc8f2e]" href="https://coderdojo.jp/stats" target="_blank">https://coderdojo.jp/stats</a>
	  </small>
        </p>
      </div>
    </div>
  </div>

  <!-- DojoCon の画像 -->
  <!-- デスクトップの場合 -->
  <div class="hidden xl:flex items-center -mx-4 xl:mt-18 justify-between">
    <div class="w-2/7 mt-12"><img class="w-full" src="/img/top/about-coderdojo/coderdojo-logo-transparent.webp" alt="CoderDojo ロゴ画像" /></div>
    <div class="w-2/3 mt-12"><img class="w-full" src="/img/top/about-coderdojo/dojocon.webp" alt="DojoCon Japan 2019 @ 名古屋の様子" /></div>
  </div>

  <!-- モバイルの場合 -->
  <div class="xl:hidden block m-8">
    <img class="max-w-3xl place-self-center w-full" src="/img/top/about-coderdojo/dojocon.webp" alt="DojoCon Japan 2019 @ 名古屋の様子" />
  </div>
</div>
