<section id="event-summary">
  <div class="d-flex flex-column align-items-center text-center">
    <h2 class="title">開催概要</h2>
    <p class="subtitle">OUTLINE</p>
    <div class="item-list">
      <div class="event-box d-flex flex-column align-items-center">
        <div class="event-img"></div>
        <p class="event-desc">開催日時</p>
      </div>
      <div class="event-box d-flex flex-column align-items-center">
        <div class="event-img"></div>
        <p class="event-desc">福岡県久留米市六ツ門町８−１</p>
      </div>
      <div class="event-box d-flex flex-column align-items-center">
        <div class="event-img"></div>
        <p class="event-desc">久留米市ティプラザ</p>
      </div>
      <div class="event-box d-flex flex-column align-items-center">
        <div class="event-img"></div>
        <p class="event-desc">参加無料</p>
      </div>
    </div>
  </div>
</section>