<section id="event-summary">
  <div class="d-flex flex-column align-items-center text-center">
    <h2 class="title">開催概要</h2>
    <p class="subtitle">OUTLINE</p>
    <div class="item-list">
      <div class="event-box d-flex flex-column align-items-center">
        <div class="image-wrapper">

        </div>
        <p class="event-desc">開催日時</p>
      </div>
      <div class="event-box d-flex flex-column align-items-center">
        <div class="image-wrapper" style="overflow: visible;">
          <img style="z-index: -1; position: absolute; top: -140px; left: -200px" src="/img/2025/top/fukuoka.svg" width="650" height="650" />
          <img style="z-index: 1; position: absolute; top: 140px; left: 216px" src="/img/2025/top/kappa_ninja.svg" width="156" height="176" />
        </div>
        <p class="event-desc">福岡県久留米市六ツ門町８−１</p>
      </div>
      <div class="event-box d-flex flex-column align-items-center">
        <div class="image-wrapper">
          <img style="z-index: -1;position: absolute; top: -31px; left: -4px" src="/img/2025/top/building.svg" width="350" height="350" />
        </div>
        <p class="event-desc">久留米市シティプラザ</p>
      </div>
      <div class="event-box d-flex flex-column align-items-center">
        <div class="image-wrapper">
          <img style="z-index: -1;position: absolute; top: -110px; left: -100px" src="/img/2025/top/free.svg" width="500" height="500" />
        </div>
        <p class="event-desc">参加無料</p>
      </div>
    </div>
  </div>
</section>