<!-- デスクトップの場合 -->
<div class="hidden xl:flex mt-48">
  <div class="w-[45%] -mt-10 mx-auto absolute z-1 pr-16 right-0">
    <h2>
      <img src="/img/top/inspire-next/inspire-next-heading.webp" alt="Inspire Next ～好奇心に火をつけよう～" />
    </h2>
    <div class="mt-9 max-w-3xl leading-7">
      <p class="mb-6">
        今年の DojoCon Japan のテーマは「Inspire Next 〜好奇心に火をつけよう〜」です。<br />
        この言葉には、「次の一歩をふみ出すきっかけとなるような“ひらめき”や“刺激”を届けたい」という思いが込められています。プログラミングやテクノロジーの世界は、生成AIをはじめ新しいことが次々に生まれ、進化し続けています。けれども、子どもたちの「やってみたい！」「知りたい！」という好奇心は、いつの時代も変わりません。
      </p>

      <p>
        CoderDojo は、そんな好奇心を大切にし、支援し、応援する場所です。<br />
        このイベントを通して、子どもも大人も、次のチャレンジに向かう気持ちに火がつくような出会いや体験を届けたいと考えています。新しい道場を立ち上げてみたくなったり、今の道場をもっと良くしたくなったり――<br />
        そんな「次」への一歩を、みんなで応援します。
      </p>
    </div>
  </div>

  <div class="flex items-center -mx-4 mt-18 justify-between w-full">
    <div class="w-2/3 relative">
      <!-- 写真にかぶっても視認性を確保するためのオーバーレイ -->
      <div class="bg-linear-to-r from-transparent from-70% to-white hidden top-0 xl:block absolute size-full">
      </div>
      <img class="w-full" src="/img/top/inspire-next/exhibit.webp" />
    </div>
    <div class="w-1/4 -mt-48"><img class="w-full" src="/img/top/inspire-next/fire-transparent.webp" /></div>
  </div>
</div>

<!-- モバイルの場合 -->
<div class="xl:hidden relative mt-20 mx-6">
  <div class="max-w-3xl mx-auto">
    <h2 class="relative max-w-7xl">
      <img src="/img/top/inspire-next/inspire-next-heading.webp" alt="Inspire Next ～好奇心に火をつけよう～" />
      <img class="h-[140%] w-auto absolute right-0 -bottom-1/5 w-3xs" src="/img/top/inspire-next/fire-transparent.webp" />
    </h2>

    <div class="mt-9 leading-7">
      <p class="mb-6">
        今年の DojoCon Japan のテーマは「Inspire Next 〜好奇心に火をつけよう〜」です。<br />
        この言葉には、「次の一歩をふみ出すきっかけとなるような“ひらめき”や“刺激”を届けたい」という思いが込められています。プログラミングやテクノロジーの世界は、生成AIをはじめ新しいことが次々に生まれ、進化し続けています。けれども、子どもたちの「やってみたい！」「知りたい！」という好奇心は、いつの時代も変わりません。
      </p>

      <p>
        CoderDojo は、そんな好奇心を大切にし、支援し、応援する場所です。<br />
        このイベントを通して、子どもも大人も、次のチャレンジに向かう気持ちに火がつくような出会いや体験を届けたいと考えています。新しい道場を立ち上げてみたくなったり、今の道場をもっと良くしたくなったり――<br />
        そんな「次」への一歩を、みんなで応援します。
      </p>
    </div>
  </div>

  <div class="max-w-3xl mx-auto mt-8">
    <img class="place-self-center w-full" src="/img/top/inspire-next/exhibit.webp" />
  </div>
</div>
