<!-- デスクトップの場合 -->
<div class="hidden xl:flex mt-48">
  <div class="w-[45%] -mt-10 mx-auto absolute pr-16 right-0">
    <h2>
      <img src="/img/2025/top/Inspire NEXT.png" alt="Inspire NEXT ～好奇心に火をつけよう～" />
    </h2>

    <div class="mt-9 max-w-3xl">
      今年のDojoCon Japanのテーマは「Inspire NEXT〜好奇心に火をつけよう〜」です。<br />
      この言葉には、「次の一歩をふみ出すきっかけになるようなひらめきや刺激を届けたい」という思いがこめられています。プログラミングやテクノロジーの世界は、AIなど新しいことがどんどん出てきて、変わり続けています。でも、子どもたちの「やってみたい！」「知りたい！」という好奇心は、いつの時代も変わりません。<br />
      CoderDojoは、そんな好奇心を大切にし、応援する場所です。<br />
      このイベントを通して、子どもも大人も、次のチャレンジに向かう気持ちに火がつくような出会いや体験を届けたいと考えています。新しい道場を作ってみたくなったり、今の道場をもっと良くしたくなったり――<br />
      そんな「次」への一歩をみんなで応援します。
    </div>
  </div>

  <div class="flex items-center -mx-4 mt-18 justify-between w-full">
    <div class="w-2/3"><img class="w-full" src="/img/2025/top/inspire-next-image.png" /></div>
    <div class="w-1/5 -mt-40"><img class="w-full" src="/img/2025/top/fire-light.png" /></div>
  </div>
</div>

<!-- モバイルの場合 -->
<div class="xl:hidden relative mt-20 mx-8">
  <div class="max-w-3xl mx-auto">
    <h2 class="relative max-w-7xl">
      <img src="/img/2025/top/Inspire NEXT.png" alt="Inspire NEXT ～好奇心に火をつけよう～" />
      <img class="h-full w-auto absolute right-0 top-0 w-3xs" src="/img/2025/top/fire-light.png" />
    </h2>

    <div class="mt-9">
      今年のDojoCon Japanのテーマは「Inspire NEXT〜好奇心に火をつけよう〜」です。<br />
      この言葉には、「次の一歩をふみ出すきっかけになるようなひらめきや刺激を届けたい」という思いがこめられています。プログラミングやテクノロジーの世界は、AIなど新しいことがどんどん出てきて、変わり続けています。でも、子どもたちの「やってみたい！」「知りたい！」という好奇心は、いつの時代も変わりません。<br />
      CoderDojoは、そんな好奇心を大切にし、応援する場所です。<br />
      このイベントを通して、子どもも大人も、次のチャレンジに向かう気持ちに火がつくような出会いや体験を届けたいと考えています。新しい道場を作ってみたくなったり、今の道場をもっと良くしたくなったり――<br />
      そんな「次」への一歩をみんなで応援します。
    </div>
  </div>

  <div class="max-w-3xl mx-auto mt-8">
    <img class="place-self-center w-full" src="/img/2025/top/inspire-next-image.png" />
  </div>
</div>
