<h2 class="text-4xl text-center">
  基調講演
  <span class="block mt-5 text-2xl">KEYNOTE 01</span>
</h2>
<img src="https://placehold.jp/320x320" alt="宮島 衣瑛">
<p>
  生成AI時代における<br />
  「子どもたちの創造」と学び
</p>
<p>宮島 衣瑛（みやじま きりえ）</p>
<p>
  一般社団法人 CoderDojo Japan 理事<br />
  CoderDojo Kashiwa Champion
</p>
<p>
  AI（人工知能）がどんどん進化し、わたしたちのまわりにも当たり前のように使われるようになってきました。そんな時代に、子どもたちはどんなふうに学び、何を創り出していくのでしょうか？<br />
  この講演では、生成AIの今とこれから、そしてAIとともに学ぶことの楽しさや可能性について、わかりやすくお話しします。<br />
  未来をつくる子どもたちの「創造力」を育むために、わたしたち大人ができること、CoderDojoが果たせる役割についても、一緒に考えていきましょう。
</p>
<a href="#">基調講演を詳しく見る</a>

<h2 class="text-4xl text-center">
  招待講演
  <span class="block mt-5 text-2xl">KEYNOTE 02</span>
</h2>
<img src="https://placehold.jp/320x320" alt="小宮山 利恵子">
<p>
  生成AIをはじめ急速に変化する環境で、<br />
  子どもの好奇心をどう伸ばすか
</p>
<p>小宮山 利恵子（こみやま りえこ）</p>
<p>
  スタディサプリ教育AI研究所所長<br />
  国立大学法人 東京学芸大学大学院教育学研究科准教授
</p>
<p>
  AIやテクノロジーの進化によって、わたしたちの生活や学びの環境は、これまでにないスピードで変わっています。そんな時代に、子どもたちの「知りたい！」「やってみたい！」という気持ちをどう育てていけばいいのでしょうか？<br />
  そして、子どもたちの好奇心を守り、伸ばすために、大人にはどんなかかわり方ができるのでしょうか？教育とテクノロジーの専門家である小宮山さんが、たくさんの事例をまじえながら、未来の学びについてやさしく語ってくれます。
</p>
<a>招待講演を詳しく見る</a>
