<h2 class="text-4xl text-center mb-12">
  基調講演
  <span class="block mt-5 text-2xl">KEYNOTE 01</span>
</h2>

<div class="flex px-6 lg:px-12 max-w-7xl mx-auto jutify-between gap-x-12 mb-16 flex-col lg:flex-row-reverse">
  <div class="w-full lg:w-[55%] mb-8">
    <p class="text-3xl lg:text-4xl leading-12 lg:leading-15 mb-2">
      生成AI時代における<br />
      「子どもたちの創造」と学び
    </p>
    <p class="text-xl mb-2">宮島 衣瑛（みやじま きりえ）</p>
    <p class="text-xs mb-8 leading-5">
      一般社団法人 CoderDojo Japan 理事<br />
      CoderDojo Kashiwa Champion
    </p>
    <p class="leading-7 mb-8">
      AI（人工知能）がどんどん進化し、わたしたちのまわりにも当たり前のように使われるようになってきました。そんな時代に、子どもたちはどんなふうに学び、何を創り出していくのでしょうか？<br />
      この講演では、生成AIの今とこれから、そしてAIとともに学ぶことの楽しさや可能性について、わかりやすくお話しします。<br />
      未来をつくる子どもたちの「創造力」を育むために、わたしたち大人ができること、CoderDojoが果たせる役割についても、一緒に考えていきましょう。
    </p>
  </div>
  <div class="place-self-center lg:place-self-start max-w-full lg:w-[45%]">
    <div class="aspect-[1/cos(30deg)] overflow-hidden flex items-center justify-center"
      style="clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);">
      <img class="w-full" src="https://placehold.jp/512x512.png" alt="宮島 衣瑛">
    </div>
  </div>
</div>

<h2 class="text-4xl text-center mb-12">
  招待講演
  <span class="block mt-5 text-2xl">KEYNOTE 02</span>
</h2>

<div class="flex max-w-7xl mx-auto px-6 lg:px-12 jutify-between gap-x-12 flex-col lg:flex-row">
  <div class="w-full lg:w-[55%] mb-8">
    <p class="text-3xl lg:text-4xl leading-12 lg:leading-15 mb-2">
      生成AIをはじめ急速に変化する環境で、<br />
      子どもの好奇心をどう伸ばすか
    </p>
    <p class="text-xl mb-2">小宮山 利恵子（こみやま りえこ）</p>
    <p class="text-xs mb-8 leading-5">
      スタディサプリ教育AI研究所所長<br />
      国立大学法人 東京学芸大学大学院教育学研究科准教授
    </p>
    <p class="leading-7 mb-8">
      AIやテクノロジーの進化によって、わたしたちの生活や学びの環境は、これまでにないスピードで変わっています。そんな時代に、子どもたちの「知りたい！」「やってみたい！」という気持ちをどう育てていけばいいのでしょうか？<br />
      そして、子どもたちの好奇心を守り、伸ばすために、大人にはどんなかかわり方ができるのでしょうか？教育とテクノロジーの専門家である小宮山さんが、たくさんの事例をまじえながら、未来の学びについてやさしく語ってくれます。
    </p>
  </div>
  <div class="place-self-center lg:place-self-start max-w-full lg:w-[45%]">
    <div class="aspect-[1/cos(30deg)] overflow-hidden flex items-center justify-center"
      style="clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);">
      <img class="w-full" src="https://placehold.jp/512x512.png" alt="小宮山 利恵子">
    </div>
  </div>
</div>
