<h2 class="text-4xl text-center mb-12">
  基調講演
  <span class="block mt-5 text-2xl">KEYNOTE 01</span>
</h2>

<div class="flex px-6 lg:px-12 max-w-7xl mx-auto jutify-between gap-x-12 mb-16 flex-col lg:flex-row-reverse">
  <div class="w-full lg:w-[55%] mb-8">
    <p class="text-3xl lg:text-4xl leading-12 lg:leading-15 mb-2">
      プログラミング教育の脱構築──<br />
      生成AI時代における〈学び〉を再考する
    </p>
    <p class="text-xl mb-2">宮島 衣瑛（みやじま きりえ）</p>
    <p class="text-xs mb-8 leading-5">
      CoderDojo Japan 理事<br />
      広島大学大学院 特命助教
    </p>
    <p class="leading-7 mb-8">
      生成AIの急速な進展により、「プログラミングを学ぶこと」の意味や価値そのものが、根本から問い直される時代がきています。<br />
      だからこそ今、子どもたちが〈つくる〉ことを楽しみ、世代を超えた仲間と学び合う CoderDojo コミュニティのような学びの場が、これまで以上に重要な意味を持ってきます。<br />
      本講演では、「教育・学びとは何か」を根底から問い直す視点から、プログラミング教育の脱構築を提案し、これからの CoderDojo のあり方も皆さんと考えていきたいと思います。
    </p>
  </div>
  <div class="place-self-center lg:place-self-start max-w-full lg:w-[45%]">
    <div class="aspect-[1/cos(30deg)] overflow-hidden flex items-center justify-center"
      style="clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);">
      <img class="w-full" src="/img/session/profile/miyajima-kirie.webp" alt="宮島 衣瑛">
    </div>
  </div>
</div>

<h2 class="text-4xl text-center mb-12">
  招待講演
  <span class="block mt-5 text-2xl">KEYNOTE 02</span>
</h2>

<div class="flex max-w-7xl mx-auto px-6 lg:px-12 jutify-between gap-x-12 flex-col lg:flex-row">
  <div class="w-full lg:w-[55%] mb-8">
    <p class="text-3xl lg:text-4xl leading-12 lg:leading-15 mb-2">
      生成AI時代における子どもたちに必要な力とは？
    </p>
    <p class="text-xl mb-2">小宮山 利恵子（こみやま りえこ）</p>
    <p class="text-xs mb-8 leading-5">
      株式会社リクルート スタディサプリ教育AI研究所所長<br />
      国立大学法人 東京学芸大学大学院教育学研究科教授
    </p>
    <p class="leading-7 mb-8">
      生成AIが瞬時に答えを導く時代において、子どもたちに本当に必要なのは「問いを立てる力」です。<br />
      本講演では、AIに頼るだけでは得られない学びとして、現場体験や五感を通じた身体知、そしてアナログとデジタルをつなぐ教育の可能性を探ります。<br />
      効率化の先にある“人間ならではの学び”をどう育むのかを考えます。
    </p>
  </div>
  <div class="place-self-center lg:place-self-start max-w-full lg:w-[45%]">
    <div class="aspect-[1/cos(30deg)] overflow-hidden flex items-center justify-center"
      style="clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);">
      <img class="w-full" src="/img/session/profile/komiyama-rieko.webp" alt="小宮山 利恵子">
    </div>
  </div>
</div>
