<h2 class="text-4xl mt-20 sm:mt-32 xl:mt-60 2xl:mt-40 text-center">
  お知らせ
  <span class="block mt-5 text-2xl">NEWS</span>
</h2>

<div class="m-6 flex flex-col items-center">
  <ul class="border-y border-[#ccc] divide-y divide-[#ccc] max-w-7xl mx-auto mb-12">
    <li class="text-sm flex items-center py-4 flex-wrap sm:flex-nowrap gap-y-1">
      <time class="block min-w-24">2025.08.02</time>
      <span class="block min-w-24 text-center mr-6 px-4 py-px rounded-xs bg-[#cc8f2e] text-white">お知らせ</span>
      <a href="/contests/how-to-apply.html" class="ml-2 hover:underline">DojoCon Japan 2025 プログラミングコンテスト 応募方法を公開しました</a>
    </li>
    <li class="text-sm flex items-center py-4 flex-wrap sm:flex-nowrap gap-y-1">
      <time class="block min-w-24">2025.08.02</time>
      <span class="block min-w-24 text-center mr-6 px-4 py-px rounded-xs bg-[#cc8f2e] text-white">お知らせ</span>
      <a href="/sponsorship/index.html" class="ml-2 hover:underline">DojoCon 2025 スポンサー募集のお知らせを掲載しました</a>
    </li>
    <li class="text-sm flex items-center py-4 flex-wrap sm:flex-nowrap gap-y-1">
      <time class="block min-w-24">2025.07.21</time>
      <span class="block min-w-24 text-center mr-6 px-4 py-px rounded-xs bg-[#cc8f2e] text-white">お知らせ</span>
      <a href="/contests/index.html" class="ml-2 hover:underline">『DojoCon Japan 2025 プログラミングコンテスト』の募集要項を掲載しました</a>
    </li>
  </ul>
</div>
