<h2 id="outline" class="text-4xl text-center mb-8 pt-28 -mt-8">
  開催概要
  <span class="block mt-5 text-2xl">OUTLINE</span>
</h2>

<div class="md:max-w-3xl xl:max-w-7xl mx-auto">
  <div class="flex mx-6 justify-between flex-wrap text-center text-xl gap-y-8
      flex-col min-[400px]:flex-row
      min-[400px]:*:w-[45%] xl:*:w-[24%]">
    <div class="flex flex-col justify-between">
      <div class="flex flex-1 items-center justify-center mb-4">
        <img class="place-self-center align-middle" src="/img/top/outline/date.webp">
      </div>
      <p>開催日時</p>
    </div>

    <div class="flex flex-col justify-between">
      <div class="flex flex-1 items-center justify-center mb-4">
        <img class="place-self-center align-middle" src="/img/top/outline//kurume-kappa.webp">
      </div>
      <p class="whitespace-pre">福岡県久留米市<wbr />六ツ門町８−１</p>
    </div>

    <div class="flex flex-col justify-between">
      <div class="flex flex-1 items-center justify-center mb-4">
        <img class="place-self-center align-middle" src="/img/top/outline//city-plaza.webp">
      </div>
      <p class="whitespace-pre">久留米市<wbr />シティプラザ</p>
    </div>

    <div class="flex flex-col justify-between">
      <div class="flex flex-1 items-center justify-center mb-4">
        <img class="place-self-center align-middle" src="/img/top/outline//free.webp">
      </div>
      <p>参加無料</p>
    </div>
  </div>
</div>
