<h2 class="text-4xl text-center mb-8">
  開催概要
  <span class="block mt-5 text-2xl">OUTLINE</span>
</h2>

<div class="flex max-w-7xl mx-auto *:w-1/4 text-center text-xl *:h-83">
  <div class="flex flex-col justify-between">
    <img class="mt-8 place-self-center" src="/img/2025/top/date.png">
    <p>開催日時</p>
  </div>
  <div class="flex flex-col justify-between">
    <img class="place-self-center" src="/img/2025/top/kurume-kappa.png">
    <p>福岡県久留米市六ツ門町８−１</p>
  </div>
  <div class="flex flex-col justify-between">
    <img class="mt-8 place-self-center" src="/img/2025/top/city-plaza.png">
    <p>久留米市シティプラザ</p>
  </div>
  <div class="flex flex-col justify-between">
    <img class="mt-8 place-self-center" src="/img/2025/top/free.png">
    <p>参加無料</p>
  </div>
</div>
