<div id="session" class="max-w-3xl lg:max-w-[1800px] px-8 mx-auto pt-28 -mt-28 mb-16 flex flex-col lg:-mt-64 lg:flex-row items-center lg:items-start">
  <div class="w-full lg:w-2/5 mb-8 lg:mt-68">
    <div class="lg:max-w-sm lg:place-self-end lg:mr-[10%]">
      <h2 class="text-4xl mb-4 text-center lg:text-left">
        セッション
        <span class="block mt-2 text-2xl">SESSION</span>
      </h2>
      <p class="leading-7 mb-10">
        さまざまな分野で活やくしている人たちの話を聞いて、考え方やアイデアを広げてみよう。<br />
        プログラミングや教育、地域での活動など、たくさんのヒントがつまった時間です。
      </p>
    </div>
  </div>

  <div class="relative lg:w-3/5">
    <ul class="flex flex-wrap gap-x-6 gap-y-12">
      {% for i in (1..6) %}
      <li class="flex-1 min-w-full sm:min-w-64">
        <img class="w-full" style="filter: blur(3.5px);" src="https://placehold.jp/1920x1080.png?text=Coming soon..." alt="セッションのイメージ">
      </li>
      {% endfor %}
    </ul>
    <p class="absolute size-full inset-0 text-7xl text-gray-500 opacity-50 text-center flex items-center justify-center">Coming soon...</p>
  </div>
</div>
