
<div
  class="max-w-3xl lg:max-w-[1800px] px-8 mx-auto mt-20 lg:mt-0 mb-16 flex flex-col lg:flex-row items-center lg:items-start">
  <div class="w-full lg:w-2/5 mb-8 flex justify-end">
    <div class="lg:max-w-sm lg:place-self-start lg:mr-[10%]">
      <h2 class="text-4xl mb-4 text-center lg:text-left">
        セッション
        <span class="block mt-2 text-2xl">SESSION</span>
      </h2>
      <p class="leading-7 mb-10">
        さまざまな分野で活やくしている人たちの話を聞いて、考え方やアイデアを広げてみよう。<br />
        プログラミングや教育、地域での活動など、たくさんのヒントがつまった時間です。<br>
        詳細は<a href="/sessions/" class="underline">セッション一覧</a>をご覧ください。
      </p>
    </div>
  </div>
  <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-12 lg:-mt-16 lg:w-3/5">
    {% assign sessions = site.data.sessions | where: "showInTopPage", true | slice: 0, 6 %}
    {% for session in sessions %}
    <li class="flex flex-col min-w-0">
      <a href="{{ session.url }}" class="block hover:opacity-80 transition grow">
        <img class="w-full md:max-h-[160px] md:object-contain" src="{{ session.img }}" alt="{{ session.title }}" />
        <p class="mt-2">{{ session.title }}</p>
        <p class="text-xs mb-2 leading-5">
          登壇者: {{ session.speaker }}<br />
          所属: {{ session.affiliation }}
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
