<h2 class="text-4xl text-center">
  スポンサー
  <span class="block mt-5 text-2xl">SPONSOR</span>
</h2>

<h3 class="text-2xl mt-22 mx-8 text-center mb-4">ゴールドスポンサー
  <span class="block text-base mt-1">GOLD SPONSOR</span>
</h3>

<div class="flex gap-x-8 px-8 max-w-3xl mx-auto">
  <img class="w-full max-w-3xl mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="ゴールドスポンサーのロゴ">
</div>

<h3 class="text-2xl mt-22 mx-8 text-center mb-4">シルバースポンサー
  <span class="block text-base mt-1">SILVER SPONSOR</span>
</h3>

<div class="flex gap-x-8 px-8 max-w-3xl mx-auto">
  <div><img class="w-full mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="シルバースポンサーのロゴ">
  </div>
  <div><img class="w-full mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="シルバースポンサーのロゴ">
  </div>
</div>

<h3 class="text-2xl mt-22 mx-8 text-center mb-4">ブロンズスポンサー
  <span class="block text-base mt-1">BRONZE SPONSOR</span>
</h3>

<div class="flex gap-x-8 px-8 max-w-3xl mx-auto">
  <div><img class="w-full mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="ブロンズスポンサーのロゴ">
  </div>
  <div><img class="w-full mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="ブロンズスポンサーのロゴ">
  </div>
</div>

<h3 class="text-2xl mt-22 mx-8 text-center mb-4">インカインドスポンサー
  <span class="block text-base mt-1">IN-KIND SPONSOR</span>
</h3>

<div class="flex gap-x-8 px-8 max-w-3xl mx-auto">
  <div><img class="w-full mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="インカインドスポンサーのロゴ">
  </div>
  <div><img class="w-full mx-auto mb-8" src="https://placehold.jp/1920x1080.png" alt="インカインドスポンサーのロゴ">
  </div>
</div>
