<h2 class="text-4xl text-center">
  スポンサー
  <span class="block mt-5 text-2xl">SPONSOR</span>
</h2>

<h3 class="text-2xl mt-22 text-center">ゴールドスポンサー
  <span class="block mt-4">GOLD SPONSOR</span>
</h3>

<h3 class="text-2xl mt-22 text-center">シルバースポンサー
  <span class="block mt-4">SILVER SPONSOR</span>
</h3>

<h3 class="text-2xl mt-22 text-center">ブロンズスポンサー
  <span class="block mt-4">BRONZE SPONSOR</span>
</h3>

<h3 class="text-2xl mt-22 text-center">インカインドスポンサー
  <span class="block mt-4">IN-KIND SPONSOR</span>
</h3>
