<h2 class="text-4xl text-center pt-20 xl:pt-30">
  実行員紹介
  <span class="block mt-5 text-2xl">STAFF</span>
</h2>

<!-- デスクトップで表示 -->
<div class="hidden xl:block max-w-7xl mx-auto my-24">
  <ul class="staff flex flex-wrap justify-center gap-x-36">
    {% for member in site.data.staff %}
    <li class="-mt-[74px]">
      {% if member.site %}
        <a href="{{ member.site }}" target="_blank">
      {% endif %}

      <div class="relative aspect-[1/cos(30deg)] w-50 overflow-hidden flex items-center justify-center"
        style="clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);">

        <div class="absolute size-full opacity-0 hover:opacity-100">
          <div class="absolute size-full mix-blend-multiply bg-[#6f6f6f]"></div>
          <p class="flex flex-col items-center justify-center text-white text-center absolute size-full">
            {{ member.name }}
            <span class="text-xs">{{ member.dojo }}</span>
          </p>
        </div>
        <img class="min-w-full min-h-full object-cover" src="/img/staff/{{ member.name }}.webp" alt="{{ member.name }}">
      </div>

      {% if member.site %}
        </a>
      {% endif %}
    </li>
    {% endfor %}

    {% comment %} 空の要素を入れて、最後の行のバランスを取る {% endcomment %}
    <div class="w-50"></div>
  </ul>
</div>

<!-- モバイルで表示 -->
<div class="block xl:hidden mx-auto mt-9 mb-20">
  <ul class="flex flex-wrap justify-center gap-x-2 gap-y-6 mx-[2%]">
    {% for member in site.data.staff %}
    <li class="flex flex-col items-center gap-y-2">
      {% if member.site %}
        <a href="{{ member.site }}" target="_blank" class="flex flex-col items-center gap-y-2">
      {% endif %}

      <div class="relative aspect-[1/cos(30deg)] w-24 sm:w-30 overflow-hidden flex items-center justify-center"
        style="clip-path: polygon(50% -50%,100% 50%,50% 150%,0 50%);">
        <img class="w-full" src="/img/staff/{{ member.name }}.webp" alt="{{ member.name }}">
      </div>

      <!-- モバイルで表示する、肩書きや氏名の表示 -->
      <p class="flex flex-col text-center w-24 text-sm word-break">
        {{ member.name }}
        <span class="text-xs">{{ member.dojo }}</span>
      </p>

      {% if member.site %}
        </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
