<h1 class="max-w-lg mx-auto pt-5 px-8">
  <img src="/img/2025/top/dojocon-japan-2025-title.png" alt="DojoCon Japan 2025" />
</h1>

<div class="max-w-[1500px] mt-2 xl:-mt-14 mx-auto px-4 md:px-8">
  <img src="/img/2025/top/main-image.png" alt="好奇心に火をつけよう！！ Inspire Next" />
</div>

<div class="flex mx-auto max-w-[1020px] justify-center lg:justify-start">
  <p class="lg:-mt-6 xl:-mt-10 leading-8  px-8 text-lg font-bold">
    DojoCon Japanとは日本の CoderDojo コミュニティメンバーが全国から集まる、<br />
    年に1度のカンファレンスイベント(CoderDojo Conference) です。<br />
    2016年に始まり、2025年は福岡県久留米市にて開催します。
  </p>
</div>


<!-- 福さんのやつを取りこむ -->
