<h1 class="max-w-lg mx-auto mt-11 px-8">
  <img src="/img/2025/top/dojocon-japan-2025-title.png" alt="DojoCon Japan 2025" />
</h1>

<div class="max-w-[1500px] mx-auto px-8">
  <img src="/img/2025/top/main-image.png" alt="好奇心に火をつけよう！！ Inspire Next" />
</div>

<p class="max-w-[1020px] mx-auto -mt-12 px-8 font-lg font-bold">
  DojoCon Japanとは日本の CoderDojo コミュニティメンバーが全国から集まる、<br />
  年に1度のカンファレンスイベント(CoderDojo Conference) です。<br />
  2016年に始まり、2025年は福岡県久留米市にて開催します。
</p>

<div class="mx-8">
  <nav class="rounded-full w-fit mx-auto bg-[#efefef] py-7 px-11 my-8">
    <ul class="flex flex-wrap justify-center divide-x-2 gap-y-2 *:text-[#e27c13] *:px-6">
      <li><a href="#">開催概要</a></li>
      <li><a href="#">セッション</a></li>
      <li><a href="#">企画</a></li>
      <li><a href="#">コンテスト</a></li>
      <li><a href="#">グッズ</a></li>
      <li><a href="#">スポンサー募集</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
  </nav>
</div>

<h2 class="text-4xl text-center">
  開催概要
  <span class="block mt-5 text-2xl">OUTLINE</span>
</h2>

<!-- 福さんのやつを取りこむ -->

<div class="mx-auto px-8 relative">
  <h2>
    <img src="/img/2025/top/About CoderDojo.png" alt="About CoderDojo" />
  </h2>
  <div class="w-3/5 absolute top-12  right-0"><img src="/img/2025/top/coder-dojo-image.png" /></div>
  <div class="mt-9 ml-18 w-1/2 absolute">
    <p>
      CoderDojoは子ども達にプログラミングを学ぶ場を提供する、ボランティア主導の世界的な非営利活動です。
    </p>
    <p>
      CoderDojoは2011年にアイルランドから始まり、現在は世界100カ国に2,000以上の道場があり、日本国内でも全国200以上の道場で毎年1,000回以上
      (*1)開催されています。CoderDojoはエンジニアやデザイナー、各地域の保護者や学生、研究者や経営者など（メンター）と子どもが出会える場にもなっています。
      <small>*1 統計情報:https://coderdojo.jp/stats</small>
    </p>
  </div>
</div>

<h2>Inspire NEXT<span>〜好奇心に火をつけよう〜</span></h2>
<p>
  今年のDojoCon Japanのテーマは「Inspire NEXT〜好奇心に火をつけよう〜」です。<br />
  この言葉には、「次の一歩をふみ出すきっかけになるようなひらめきや刺激を届けたい」という思いがこめられています。プログラミングやテクノロジーの世界は、AIなど新しいことがどんどん出てきて、変わり続けています。でも、子どもたちの「やってみたい！」「知りたい！」という好奇心は、いつの時代も変わりません。<br />
  CoderDojoは、そんな好奇心を大切にし、応援する場所です。<br />
  このイベントを通して、子どもも大人も、次のチャレンジに向かう気持ちに火がつくような出会いや体験を届けたいと考えています。新しい道場を作ってみたくなったり、今の道場をもっと良くしたくなったり――<br />
  そんな「次」への一歩をみんなで応援します。
</p>

<h2 class="text-4xl text-center">
  お知らせ
  <span class="block mt-5 text-2xl">NEWS</span>
</h2>
<!-- 2025/08/07 めっちゃ前の main branch （現時点から 20 commits ぐらい前）を見ると、ニュース一覧をレンダリングするテンプレート的なやつがあるらしいので、
 それのマークアップとスタイルをいじって作るとよい -->
<ul>
  <li>
    <time>2025.06.20</time>
    <span>レポート</span>
    DojoCon Japan 2025開催のお知らせ　今年のテーマは「Inspire NEXT〜好奇心に火をつけよう〜」
  </li>
</ul>
<a href="#">全てのお知らせを見る</a>

<h2 class="text-4xl text-center">
  基調講演
  <span class="block mt-5 text-2xl">KEYNOTE 01</span>
</h2>
<img src="https://placehold.jp/320x320" alt="宮島 衣瑛">
<p>
  生成AI時代における<br />
  「子どもたちの創造」と学び
</p>
<p>宮島 衣瑛（みやじま きりえ）</p>
<p>
  一般社団法人 CoderDojo Japan 理事<br />
  CoderDojo Kashiwa Champion
</p>
<p>
  AI（人工知能）がどんどん進化し、わたしたちのまわりにも当たり前のように使われるようになってきました。そんな時代に、子どもたちはどんなふうに学び、何を創り出していくのでしょうか？<br />
  この講演では、生成AIの今とこれから、そしてAIとともに学ぶことの楽しさや可能性について、わかりやすくお話しします。<br />
  未来をつくる子どもたちの「創造力」を育むために、わたしたち大人ができること、CoderDojoが果たせる役割についても、一緒に考えていきましょう。
</p>
<a href="#">基調講演を詳しく見る</a>

<h2 class="text-4xl text-center">
  招待講演
  <span class="block mt-5 text-2xl">KEYNOTE 02</span>
</h2>
<img src="https://placehold.jp/320x320" alt="小宮山 利恵子">
<p>
  生成AIをはじめ急速に変化する環境で、<br />
  子どもの好奇心をどう伸ばすか
</p>
<p>小宮山 利恵子（こみやま りえこ）</p>
<p>
  スタディサプリ教育AI研究所所長<br />
  国立大学法人 東京学芸大学大学院教育学研究科准教授
</p>
<p>
  AIやテクノロジーの進化によって、わたしたちの生活や学びの環境は、これまでにないスピードで変わっています。そんな時代に、子どもたちの「知りたい！」「やってみたい！」という気持ちをどう育てていけばいいのでしょうか？<br />
  そして、子どもたちの好奇心を守り、伸ばすために、大人にはどんなかかわり方ができるのでしょうか？教育とテクノロジーの専門家である小宮山さんが、たくさんの事例をまじえながら、未来の学びについてやさしく語ってくれます。
</p>
<a>招待講演を詳しく見る</a>

<h2 class="text-4xl text-center">
  セッション
  <span class="block mt-5 text-2xl">SESSION</span>
</h2>
<p>
  さまざまな分野で活やくしている人たちの話を聞いて、考え方やアイデアを広げてみよう。<br />
  プログラミングや教育、地域での活動など、たくさんのヒントがつまった時間です。<br />
  子どもも大人も、「こんなことやってみたい！」と思えるきっかけがきっと見つかります。
  <!-- TODO: 「子どもも大人も、～」は .psd 上だと隠れてたので、表示させるか訊く -->
</p>
<a href="#">全てのセッションを見る</a>

<h2 class="text-4xl text-center">
  ワークショップ
  <span class="block mt-5 text-2xl">WORKSHOP</span>
</h2>
<p>
  実際にプログラミングやものづくりを体験できるコーナーです。<br />
  気になっていたことにチャレンジしたり、新しい道具や考え方にふれるチャンス！<br />
  子どもも大人も、手を動かしながら楽しく学ぶことができます。
  <!-- TODO: 「子どもも大人も、～」は .psd 上だと隠れてたので、表示させるか訊く -->
</p>
<a href="#">全てのワークショップを見る</a>

<h2 class="text-4xl text-center">
  スポンサー
  <span class="block mt-5 text-2xl">SPONSOR</span>
</h2>

<h3>ゴールドスポンサー<span>GOLD SPONSOR</span></h3>

<h3>シルバースポンサー<span>SILVER SPONSOR</span></h3>

<h3>ブロンズスポンサー<span>BRONZE SPONSOR</span></h3>

<h3>インカインドスポンサー<span>IN-KIND SPONSOR</span></h3>
