<div
  class="max-w-3xl lg:max-w-[1800px] px-8 mx-auto mt-20 lg:mt-48 mb-16 flex flex-col lg:flex-row-reverse items-center lg:items-start">
  <div class="w-full lg:w-2/5 mb-8">
    <div class="lg:max-w-sm lg:place-self-start lg:ml-[10%]">
      <h2 class="text-4xl mb-4 text-center lg:text-left">
        ワークショップ
        <span class="block mt-2 text-2xl">WORKSHOP</span>
      </h2>
      <p class="leading-7 mb-10">
        実際にプログラミングやものづくりを体験できるコーナーです。<br />
        気になっていたことにチャレンジしたり、新しい道具や考え方にふれるチャンス！
      </p>
    </div>
  </div>

  <ul class="flex flex-wrap gap-x-6 gap-y-12 lg:-mt-16 lg:w-3/5">
    {% for i in (1..6) %}
    <li class="flex-1 min-w-full sm:min-w-64">
      <img class="w-full" src="https://placehold.jp/1920x1080.png" alt="セッションのイメージ">
      <p class="mt-2">セッションタイトル。2行ぐらいあるかも</p>
      <p class="text-xs mb-2 leading-5">セッションの説明です。最大2行ぐらいまで許容しそうな雰囲気</p>
      <p class="text-xs text-gray-400 leading-5">
        登壇者：仮の団体名・仮の登壇者の氏名<br />
        所属：仮の所属名</p>
    </li>
    {% endfor %}
  </ul>
</div>
