{% if page_title or page_title == '' %}
  {% assign page_title = page.title %}
{% endif %}
{% if page_subtitle or page_subtitle == '' %}
  {% assign page_subtitle = page.subtitle %}
{% endif %}
{% assign page_title = page.title %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
{% include head.html %}

<body class="bg-linear-106 from-[#9d1e29] to-[#d4932a] text-[#262626] tracking-wider min-h-dvh p-4 flex">
  <div class="bg-white rounded-2xl min-h-full flex-grow flex flex-col">
    <div class="flex-grow">
      {{ content }}
    </div>

    {% include footer.html %}
  </div>
</body>

</html>
